body {
  background-color: #fad390;
}
.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  padding: 10px;
  width: 400px;
  height: auto;
  margin: 0 auto;
  margin-top: 10%;
}

.calculator button {
  font-size: 1.5rem;
  padding: 20px;
  background-color: #f0f0f0;
  cursor: pointer;
  margin: 0;
  border: 0;

  font-family: 'Courier New', Courier, monospace;

}


.small-display {
  grid-column: span 4;
  background-color: #e8e8e8;
  padding: 5px;
  text-align: right;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: -10px;
}
.display {
  grid-column: span 4;
  background-color: #e8e8e8;
  padding: 20px;
  text-align: right;
  font-family: 'Courier New', Courier, monospace;

}

#clear {
  grid-column: span 2;
  background-color: #e55039;
}

#zero {
  grid-column: span 2;
}

#equals {
  grid-row: span 2;
  background-color: #3c6382;
}


.footer-text{
  text-align: center;
  font-family: monospace;
  font-size: 9px;
}

.name {
  text-align: center;
  font-family: monospace;
  font-size: 18px;
  margin-top: -1%;
}
